# **LOAD DATA**

In [19]:

import pandas as pd
import numpy as np
df = pd.read_csv("train (1).csv")
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

# **CHECK MISSING VALUES**

In [20]:
df.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

# **MISSING VALUE TREATMENT**

In [21]:

num_cols = df.select_dtypes(include=['int64','float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

print("Missing values after imputation:")
print(df.isnull().sum())

Missing values after imputation:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

# **Justification**
For columns with numbers, using the median means missing values get replaced by the middle value of that column. This is better than using the average because it won’t be affected if there are very high or very low numbers—it gives us a fair, balanced fill for our data.

For columns with words (categories), filling missing values with the mode means adding the most common category in that column. This keeps things consistent and doesn’t add any unusual or rare values that might confuse our analysis.

Overall, using the median for numbers and the mode for categories helps keep our data clean and reliable, so our results from analysis or future modeling are more trustworthy.

# **REMOVE UNITS AND KEEP NUMERIC VALUES**

In [22]:
df["Mileage"] = df["Mileage"].str.replace(r'[^0-9\.]', '', regex=True).astype(float)
df["Engine"] = df["Engine"].str.replace(r'[^0-9\.]', '', regex=True).astype(float)
df["Power"] = df["Power"].str.replace(r'[^0-9\.]', '', regex=True).astype(float)
df["New_Price"] = df["New_Price"].str.replace(r'[^0-9\.]', '', regex=True).astype(float)
print("\nAfter removing units:")
print(df[["Mileage","Engine","Power","New_Price"]].head())

After removing units:
   Mileage  Engine   Power  New_Price
0    19.67  1582.0  126.20       4.78
1    13.00  1199.0   88.70       8.61
2    20.77  1248.0   88.76       4.78
3    15.20  1968.0  140.80       4.78
4    23.08  1461.0   63.10       4.78

# **ONE-HOT ENCODE CATEGORICAL VARIABLES**

In [23]:
df = pd.get_dummies(df, columns=["Fuel_Type", "Transmission"], drop_first=True)
print("Columns after one-hot encoding:")
print(df.columns)

Columns after one-hot encoding:
Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price',
       'Price', 'Fuel_Type_Electric', 'Fuel_Type_Petrol',
       'Transmission_Manual'],
      dtype='object')

# **CREATE NEW FEATURE**

In [24]:
current_year = 2025
df["Age_of_Car"] = current_year - df["Year"]
print("New feature added (Age_of_Car):")
print(df[["Year","Age_of_Car"]].head())

New feature added (Age_of_Car):
   Year  Age_of_Car
0  2015          10
1  2011          14
2  2012          13
3  2013          12
4  2013          12

# **SELECT**

In [25]:
selected_df = df[["Name", "Location", "Engine", "Power", "Price"]]
print("\nSelected columns:")
print(selected_df.head())

Selected columns:
                               Name    Location  Engine   Power  Price
0  Hyundai Creta 1.6 CRDi SX Option        Pune  1582.0  126.20  12.50
1                      Honda Jazz V     Chennai  1199.0   88.70   4.50
2                 Maruti Ertiga VDI     Chennai  1248.0   88.76   6.00
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  1968.0  140.80  17.74
4            Nissan Micra Diesel XV      Jaipur  1461.0   63.10   3.50

# **FILTER**

In [26]:
filtered_df = df[df["Mileage"] > 15]
print("\nFiltered rows (Mileage > 15):")
print(filtered_df.head())

Filtered rows (Mileage > 15):
   Unnamed: 0                                 Name    Location  Year  \
0           1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2           3                    Maruti Ertiga VDI     Chennai  2012
3           4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6               Nissan Micra Diesel XV      Jaipur  2013
6           8  Volkswagen Vento Diesel Comfortline        Pune  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0              41000      First    19.67  1582.0  126.20    5.0       4.78
2              87000      First    20.77  1248.0   88.76    7.0       4.78
3              40670     Second    15.20  1968.0  140.80    5.0       4.78
4              86999      First    23.08  1461.0   63.10    5.0       4.78
6              64430      First    20.54  1598.0  103.60    5.0       4.78

   Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
0  12.50               False             False                 True
2   6.00               False             False                 True
3  17.74               False             False                False
4   3.50               False             False                 True
6   5.20               False             False                 True

   Age_of_Car
0          10
2          13
3          12
4          12
6          12

# **RENAME**

In [27]:
df = df.rename(columns={"Odometer_km": "Kilometers_Driven"})
print("\nRenamed column:")
print(df[["Kilometers_Driven"]].head())

Renamed column:
   Kilometers_Driven
0              41000
1              46000
2              87000
3              40670
4              86999

# **MUTATE**

In [28]:
df["Price_per_CC"] = df["Price"] / df["Engine"]
print("\nNew column 'Price_per_CC':")
print(df[["Price", "Engine", "Price_per_CC"]].head())

New column 'Price_per_CC':
   Price  Engine  Price_per_CC
0  12.50  1582.0      0.007901
1   4.50  1199.0      0.003753
2   6.00  1248.0      0.004808
3  17.74  1968.0      0.009014
4   3.50  1461.0      0.002396

# **ARRANGE**

In [29]:
sorted_df = df.sort_values(by="Price", ascending=False)
print("Sorted by Price (descending):")
print(sorted_df[["Name", "Price"]].head())

Sorted by Price (descending):
                                             Name   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  160.00
5620                   Lamborghini Gallardo Coupe  120.00
5752                       Jaguar F Type 5.0 V8 S  100.00
1457              Land Rover Range Rover Sport SE   97.07
1917                           BMW 7 Series 740Li   93.67

# **SUMMARIZE**

In [30]:
summary = df.groupby("Fuel_Type_Petrol")["Price"].mean().reset_index()
print("Average price grouped by fuel type:")
print(summary)

Average price grouped by fuel type:
   Fuel_Type_Petrol      Price
0             False  12.960632
1              True   5.756688

In [31]:
from IPython.display import display

print("CLEANED DATA")
display(df.head())

print("SELECTED COLUMNS")
display(selected_df.head())

print("FILTERED DATA (Mileage > 15)")
display(filtered_df.head())

print("TOP 5 MOST EXPENSIVE CARS")
display(sorted_df.head())

print("SUMMARY TABLE")
display(summary)

CLEANED DATA

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Age_of_Car,Price_per_CC
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,False,False,True,10,0.007901
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,False,True,True,14,0.003753
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,False,False,True,13,0.004808
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,False,False,False,12,0.009014
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,False,False,True,12,0.002396

SELECTED COLUMNS

                               Name    Location  Engine   Power  Price
0  Hyundai Creta 1.6 CRDi SX Option        Pune  1582.0  126.20  12.50
1                      Honda Jazz V     Chennai  1199.0   88.70   4.50
2                 Maruti Ertiga VDI     Chennai  1248.0   88.76   6.00
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  1968.0  140.80  17.74
4            Nissan Micra Diesel XV      Jaipur  1461.0   63.10   3.50

FILTERED DATA (Mileage > 15)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Age_of_Car
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,False,False,True,10
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,False,False,True,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,False,False,False,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,False,False,True,12
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54,1598.0,103.60,5.0,4.78,5.20,False,False,True,12

TOP 5 MOST EXPENSIVE CARS

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Age_of_Car,Price_per_CC
3952,4079,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,First,13.33,2993.0,255.0,5.0,2.30,160.00,False,False,False,8,0.053458
5620,5781,Lamborghini Gallardo Coupe,Delhi,2011,6500,Third,6.40,5204.0,560.0,2.0,4.78,120.00,False,True,False,14,0.023059
5752,5919,Jaguar F Type 5.0 V8 S,Hyderabad,2015,8000,First,12.50,5000.0,488.1,2.0,4.78,100.00,False,True,False,10,0.020000
1457,1505,Land Rover Range Rover Sport SE,Kochi,2019,26013,First,12.65,2993.0,255.0,5.0,1.39,97.07,False,False,False,6,0.032432
1917,1974,BMW 7 Series 740Li,Coimbatore,2018,28060,First,12.05,2979.0,320.0,5.0,4.78,93.67,False,True,False,7,0.031443

SUMMARY TABLE

   Fuel_Type_Petrol      Price
0             False  12.960632
1              True   5.756688